.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: 20px;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  border-radius: 20px;
}

.chat-message-profile {
  width: 45px;
}
