.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.chat-placeholder {
  text-align: center;
  margin-top: 100px;
  color: rgb(250, 247, 247);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
